@import "./variables.scss";

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Apple Chancery";
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.container {
	background-color: $background-color;
	color: white;
}
