$purple: #514a92;

$white: #eeeeee;

$purple-hover: #7e73e6;

$background-color: #111111;

$header-background: #333333;

$gryffindor-maroon: #841f30;

$ravenclaw-blue: #065f93;

$hufflepuff-yellow: #f2c04b;

$slytherin-green: #1d7452;
